{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Kansas City Current</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/kclogo.png' %}"/>
    <!-- Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap) -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/current.css' %}" rel="stylesheet"/>
    <meta name="csrf-token" content="{{ csrf_token }}"/>
</head>
<body class="min-vh-100">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'index' %}">Current Club</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'suites' %}">Suites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'matches' %}">Matches</a>
                </li>
            </ul>
            <form class="d-flex">
                {% if request.user.is_authenticated %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="bi-person-circle"></i> {{ user.first_name }} {{ user.last_name }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href=" {% url 'displayReservations' %}">View Reservations</a>
                            </li>
                            {% if request.user.is_staff %}
                                <li><a class="dropdown-item" href="{% url 'owner_page' %}">Match Analytics</a></li>
                                <li><a class="dropdown-item" href="{% url 'suiteAnalytics' %}">Suite Analytics</a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" id="logoutLink" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-dark">
                        <i class="bi-box-arrow-in-right me-1"></i>
                        Login
                    </a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
<!-- Header -->
{% block content %}

{% endblock %}
<!-- Footer -->
<footer class=" py-2 bg-current-red"> 
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; This website was created by The Current Club 2024</p>
    </div>
</footer>

<!-- Bootstrap core JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS -->
<script src="{% static 'js/scripts.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
