{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="bg-current-navy">
    {% if messages %}
        {% for message in messages %}
        <div id="loginError">
            <div class="centered-error-message col-xs-4">
                <div class="error-message">
                    <p class="text-center">{{message}}</p>
                    <div class="text-center">
                        {% if message.tags == 'warning' %}
                            <a class="rounded-button mt-4 text-center" href="{% url 'displayReservations' %}">Keep Reservation</a>
                            <a class="rounded-button mt-4 text-center" href="{% url 'deleteReservation' reservation_id=cancelId %}">Cancel Reservation</a>
                        {% else %}
                            <button class="rounded-button mt-4 text-center" onclick="window.location.reload()">Okay</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <div class="mx-5 row row-cols-md-2">
        <div class="container px-5  py-5 text-light">
            {% if request.user.is_staff%}
            <h1 class="border-bottom w-50">Current Reservations</h1>
            {% else %}
            <h1 class="border-bottom w-50">{{user.first_name}}'s Reservations</h1>
            {% endif %}
            {% if reservations|length > 0 %}
                {% for reservation in reservations %}
                <div>
                    <h3>Reservation Id: {{ reservation.id}}</h3>
                    <div class="mx-5 fs-5">
                        <p>User: {{ reservation.user }} </p>
                        <p>Suite: {{ reservation.suite_details.name }}</p>
                        <p>Match: {{reservation.match_details.opponent }} on {{ reservation.match_details.formatted_match_date }}</p>
                        <p>Payment: {{reservation.total_price}} on {{reservation.credit_card}}</p>
                        <a class="rounded-button btn btn-light my-3" 
                        href="{% url 'editSuite' reservation_id=reservation.id match_id=reservation.match_details.id %}">Change Suite</a>
                        <a href="{% url 'confirmCancellation' reservation_id=reservation.id %}"
                            class="rounded-button btn">Cancel Reservation</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <h3>No current reservations</h3>
            {% endif %}

        </div>
        <div>
            <img class="img-fluid py-5" src="{% static 'displayReservations/cancelpolicy.png' %}">
        </div>
</section>

{%endblock%}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/displayReservations.js' %}"></script>
{% endblock %}

