{% extends 'base.html'%}
{% load static %}
{% block content %}
<section class=" py-5 bg-current-navy">
    <div class=" row row-cols-2 px-4 px-lg-5 text-white">
        <div class="px-5">
            <h3 class="border-bottom">Existing Reservation</h3>
            <div class="mx-5 fs-5">
                <p>User: {{ reservation.user }} </p>
                <p>Suite: {{ reservation.suite_details.name }}</p>
                <p>Match: {{reservation.match_details.opponent }} on {{ reservation.match_details.formatted_match_date }}</p>
                <p>Payment: ${{reservation.total_price}} on {{ccNum}}</p>
                <a class="rounded-button btn btn-light my-3" href="{% url 'displayReservations' %}">Keep Original</a>
            </div>
        </div>
        <div class="px-5">
            <h3 class="border-bottom">New Reservation</h3>
            <div class="mx-5 fs-5">
                <p>User: {{ reservation.user }} </p>
                <p>Suite: {{ suite.name }}</p>
                <p>Match: {{reservation.match_details.opponent }} on {{ reservation.match_details.formatted_match_date }}</p>
                <p>New Price: {{newPrice}}</p>
                {% if suite.total_price > reservation.suite_details.total_price %}
                    <p>Payment: {{upcharge}} will be charged to {{ccNum}}</p>
                {% elif  suite.total_price < reservation.suite_details.total_price %}
                    <p>Payment: {{refund}} will be refunded to {{ccNum}}</p>
                {% else %}
                    <p>Payment: No change in payment to {{ccNum}}</p>
                {% endif %}
            <a href="{% url 'patchReservation' reservation_id=reservation.id new_suite_id=suite.id %}" class="rounded-button btn btn-light">Submit Changes</a>
            </div>
        </div>
    </div>
</section>
{% endblock%}

