{% extends "base.html" %}
{% load static %}
{% block content %}

    <header class="bg-current-teal py-1">
        <div class="container px-0 px-lg-0 my-0">
            <div class="text-center text-white">
                <img class="img-fluid" src="{% static '/index/indexpage.png' %}" alt="...">

            </div>
        </div>
    </header>
    <!-- Section-->


    <section class="py-2 bg-current-navy">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{% static '/index/tealseat.png' %}" alt="...">
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Match name-->
                                <h5 class="fw-bolder">Season Tickets</h5>
                                <!-- Match date-->
                                <p>Buy Tickets</p>


                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="rounded-button btn btn-outline-dark mt-auto" style="margin-top: 20px;"
                                   href="#">View Seats</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{% static '/index/matches.png' %}" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Match name-->
                                <h5 class="fw-bolder">Single Match Tickets</h5>
                                <!-- Match date-->
                                <p>Upcoming matches</p>


                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="rounded-button btn btn-outline-dark mt-auto" style="margin-top: 20px;"
                                   href="{% url 'matches' %}">View Dates</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{% static '/index/parking.png' %}" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Match name-->
                                <h5 class="fw-bolder">Stadium Parking</h5>
                                <!-- Match date-->
                                <p>Where to park</p>


                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a>
                                <button class="rounded-button btn btn-outline-dark mt-auto" style="margin-top: 20px;"
                                        href="#">View Parking
                                </button>
                            </a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{% static '/index/indexSuite.jpeg' %}" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Match name-->
                                <h5 class="fw-bolder">Luxury Suites</h5>
                                <!-- Match date-->
                                <p>Check out our Suites</p>


                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="rounded-button btn btn-outline-dark mt-auto" style="margin-top: 20px;"
                                   href="{% url 'suites' %}">View Suites</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
{% endblock %}