{% extends "base.html" %}
{% load static %}
{% block content %}



    <header class="bg-current-teal py-2">
        <div class="container px-0 px-lg-0 my-0">
            <div class="text-center text-white">
                <img class="img-fluid " src="{% static 'login/loginpage.png' %}" alt="...">
           
            </div>
        </div>
    </header>

    <!-- Section-->
    <section class="p-5 row row-cols-2 bg-current-navy">
        <div class="px-3 px-lg-5 mt-2 text-center text-white">
            <form id="loginForm" style="max-width: 400px; margin: 0 auto;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Password">
                </div>
                <div id="loginError" style="display: none;">
                    <div class="centered-error-message col-xs-4">
                        <div class="error-message">
                            <p>Login failed. Please check your username and password and try again.</p>
                            <button class="rounded-button mt-4" onclick="window.location.reload()">Okay</button>
                        </div>
                    </div>
                </div>

                <button class="rounded-button" style="margin-top: 20px;">Sign in</button>

                <p class="mt-3">Don't have an account?  </p> 
        
                <a href="{% url 'registration' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
                        button class="rounded-button" style="margin-top: 0px;">Join the club! </a>
              
            </form>
        </div>

        <div class="px-5 px-lg-5">
            <img class="img-fluid" src="{% static '/login/benefits.jpg' %}" alt="...">
        </div>
        
    </section>




{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}