{% extends "base.html" %}
{% load static %}
{% block content %}

  <header class="bg-current-teal py-2">
    <div class="container px-0 px-lg-0 my-0">
        <div class="text-center text-white">
            <img class="img-fluid " src="{% static '/login/loginpage.png' %}" alt="...">
        </div>
    </div>
  </header>


  <section class="py-5 row row-cols-2 bg-current-navy">
    <div class="form-body col-sm-12 col-lg-6">
      <div class="row">
        <div class="form-holder">
          <div class="form-content">
            <div class="form-items">

              <h3>Registration Information</h3>
              <form id="registrationForm" class="row g-3 requires-validation" novalidate>
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-sm-6">
                    <input type="text" name="first_name" class="form-control" placeholder="First Name" id="first_name" aria-label="first_name" required style="font-weight: bold;" pattern="[A-Za-z\-']+"> 
                    <div class="invalid-feedback">Please enter a valid first name</div>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="last_name" class="form-control" placeholder="Last Name" id="last_name" aria-label="last_name" required style="font-weight: bold;" pattern="[A-Za-z\-']+"> 
                    <div class="invalid-feedback">Please enter a valid last name</div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-sm-6 position-relative">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email Address" aria-label="email" required style="font-weight: bold;" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                    <div class="invalid-feedback">Please enter a valid email address</div>
                  </div>
                  <div class="col-sm-6 position-relative">
                    <input type="text" name="password" class="form-control" id="password" placeholder="Password" aria-label="password" required style="font-weight: bold;" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <div class="invalid-feedback">Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, and one digit</div>
                  </div>
                </div>

                <div class="row g-3">
                  <div class="col-sm-6 position-relative">
                    <input type="text" name="address" class="form-control" id="address" placeholder="Address" aria-label="address" required style="font-weight: bold;" pattern="[A-Za-z0-9\s\-,\.]+">
                    <div class="invalid-feedback">Please enter a valid address</div>
                  </div>  
                </div>

                <div class="row g-3">
                  <div class="col-sm-6 position-relative">
                    <input type="text" name="city" class="form-control" id="city" placeholder="City" aria-label="City" required style="font-weight: bold;" pattern="[A-Za-z\s\-]+">
                    <div class="invalid-feedback">Please enter a valid city name</div>
                  </div>  
                  <div class="col-sm position-relative">
                    <input type="text" name="state" class="form-control" id="state" placeholder="State" aria-label="State" required style="font-weight: bold;" pattern="[A-Z]{2}">
                    <div class="invalid-feedback">Please enter a valid 2-letter state abbreviation</div>
                  </div> 
                  <div class="col-sm position-relative">
                    <input type="text" name="zip_code" class="form-control" id="zip_code" placeholder="Zipcode" aria-label="Zipcode" required style="font-weight: bold;" pattern="[0-9]{5}">
                    <div class="invalid-feedback">Must be a 5-digit number</div>
                  </div> 
                </div>

                <div class="row g-3">
                  <div class="col-sm-6 position-relative">
                    <input type="text" name="phone_number" class="form-control" id="phone_number" placeholder="Phone Number" aria-label="Phone Number" required style="font-weight: bold;" pattern="[0-9]{10}">
                    <div class="invalid-feedback">Please enter a 10-digit phone number</div>
                  </div>
                </div>
                  //hiding the url from login.
                  <input type="hidden" name="next" value="{{ request.GET.next }}">
                <div class="text-center">
               
                  <button class="rounded-button w-50" style="margin-top: 20px; font-weight: bold;" >Submit</button>  
                  
                </div>
                
              </form>
              </div>
            </div>
          </div>  
        </div>
     
    </div>


    <div class="px-5 px-sm-5 col-sm-12 col-lg-6" style="margin-top: 120px;">
      <img class="img-fluid" src="{% static '/img/suiteseats.png' %}" alt="...">
  </div>

      
  </section>

{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/registration.js' %}"></script>
{% endblock %}