{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
<section class=" py-5 bg-current-navy">
    <div class=" container px-4 px-lg-5 text-white justify-content-center">
        {% if messages %}
        {% for message in messages %}
        <div id="loginError">
            <div class="centered-error-message col-xs-4">
                <div class="error-message">
                    <p class="text-center">{{message}}</p>
                    <div class="text-center">
                        <a class="rounded-button mt-4 text-center" href="">Okay</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
        <form class="w-50" method="POST" action="{% url 'reservationForm' match_id=match.id suite_id=suite.id %}">
            {% csrf_token %}
            <input type="hidden" name="token" id="token" value="">
            <h1 class=>Reserve Now</h1>
            <h3 class="border-bottom mt-3 ">Customer Information</h3>
            <div class="row row-cols-2 fs-5">
                <div>
                    <p>First Name: {{user.first_name}}</p>
                </div>
                <div>
                    <p>Last Name: {{user.last_name}}</p>
                </div>
            </div>
            <h3 class="border-bottom mt-3 ">Suite Information</h3>
            <div class="fs-5">
                <p class="my-1">Match: {{match.opponent}}</p>
                <p class="my-1">Suite: {{suite.name}} </p>
                <p>Total Price: {{total_price}}</p>
            </div>

            <h3 class="border-bottom mt-3 ">Payment Information</h3>
            <div>
                <label for="reservationCreditCard">Credit Card: </label>
                <input id="CreditCard" name="creditCard" class="form-control w-50" type="tel" inputmode="numeric" pattern="[0-9]{16}" required="required" maxlength="16" placeholder="XXXX-XXXX-XXXX-XXXX">
                <div class="row row-cols-4">
                <div>
                    <label for="reservationExperiationMonth">Expiration Month: </label>
                    <select class="form-control" placeholder="01" required="required" name="month" id="reservationExperiationMonth">
                        <option value="" disabled selected>Month</option>
                        {% for month in months %}
                        {% if month < 10 %}
                            <option value={{month}}>0{{month}}</option>
                        {% endif %}
                        {% if month > 9 %}
                            <option value="{{month}}">{{month}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="reservationExperiationYear">Expiration Year: </label>
                    <select class="form-control" required="required" name="year" id="reservationExpirationYear">
                        <option value="" disabled selected>Year</option>                
                        {% for year in years %}
                        <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="ccv">CVV: </label>
                    <input id="ccv" required="required" name="ccv" class="form-control" type="input" inputmode="numeric" pattern="[0-9]{3}" maxlength="3">
                </div>
                <button class="rounded-button" style="margin-top: 20px;">Submit</button>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/reservationForm.js' %}"></script>
{% endblock %}