{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="bg-current-navy">
    <header class="bg-current-teal W-100 py-1">
        <div class="container-fluid">
            <div class="text-center text-white">
                <img class="img-fluid" src="{% static '/index/clubbanner.png' %}" alt="...">
            </div>
        </div>
    </header>
    <div class="container-fluid ">
    <div class="py-5 bg-current-navy">
        <div class="d-none d-md-block sticky-top">
        <div class="row row-cols-lg-10 mt-0 mx-0 row-cols-auto justify-content-center bg-current-navy ">
            {% for suite in suites %}
            <button class="rounded-button-sticky btn btn-outline-dark mt-auto" onclick="highlightSuite('{{ suite.name }}')">
                <a class="nav-link" href="#{{ suite.name }}">{{ suite.name }}</a>
              </button>
            
            
            
            {% endfor %}
        </div>
        </div>

        <div class="suites-container" > 
            <div class="row">
        {% for suite in suites %}
            <!-- image/description for breakpoints > small -->
            <div class="suite-container mx-0 py-5 d-md-block"  id="{{ suite.name }}"> 
               
                <div class="row row-cols-md-2">
                    <div>
                        <img class="img-fluid pt-5" src={{ suite.suite_photo }} alt="...">
                        <h1 class="text-light border-bottom">{{ suite.name }}</h1>
                    </div>
                    <div class="text-light px-5 fs-5">
                       
                        <p>
                            {{ suite.description }}
                        <p>
                        <ul>
                            <li>Capacity: {{ suite.capacity }} </li>
                            <li>Starting Price: {{ suite.total_price }}</li>
                            <li>Amenities: {{ suite.amenities }} </li>
                        </ul>
                        <div class="mt-4">
                            {% if reservation %}
                            <a class="rounded-button btn btn-light my-3" 
                            href="{% url 'editReservation' reservation_id=reservation suite_id=suite.id %}">Change Suite</a>
                            {% elif match_id %}
                             <button class="rounded-button btn btn-outline-dark mt-auto" id="checkAvail" onclick="bookNow({{match_id}}, {{suite.id}})">Book Now</button>
                            {% else %}
                                <button class="rounded-button btn btn-outline-dark mt-auto" style="margin-top: 20px;" id="checkAvail" onclick="viewOptions({{ suite.id }})">Check Availability</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden except on small screens -->
        {% endfor %}
    </div>
</div>
</div>
</div>
</section>

{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/suites.js' %}"></script>
{% endblock %}