{% extends "base.html" %}
{% load static %}

{% block content %}
    <header class="bg-current-teal py-5">
        <div class="container px-0 px-lg-0 my-0">
            <div class="text-center text-white">
                <img class="img-fluid" src="{% static '/matches/matchesbanner.2.png' %}" alt="...">
            </div>
        </div>
    </header>

    <div class="container py-5">
    {% if messages %}
        {% for message in messages %}
        <div id="loginError">
            <div class="centered-error-message col-xs-4">
                <div class="error-message">
                    <p class="text-center">{{message}}</p>
                    <div class="text-center">
                        <button class="rounded-button mt-4 text-center" onclick="window.location.reload()">Okay</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
        <div class="row">
            <div class="col mb-5">
                <div class="card matchescard" style="background-image: url('{{ match.match_image }}');">
                    <div class="card-body p-4 text-white d-flex flex-column justify-content-end">
                        <div class="text-center" style="margin-top: 130px;">
                            <!-- Product details-->
                            <h5 class="fw-bolder mt-auto">{{ match.opponent }}</h5>
                            <p>{{ match.formatted_match_date }}</p>
                            <p>{{ match.formatted_match_time }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="text-dark text-center border-bottom">Analytics and Options</h1>
                <div class="text-dark px-3 fs-5 text-center">
                    {% if canChangePrice == 0 %}
                        <form method="POST" action="{% url 'updatePrice' match_id=match.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="price_multiplier">Price Multiplier:</label>
                                <input type="number" step="0.01" class="form-control" id="price_multiplier"
                                       name="price_multiplier" placeholder="Enter a value between 0.0 and 9.9" required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Update Ticket Prices</button>
                        </form>
                    {% else %}
                        <p>Tickets have already been sold for this match. Price adjustment is not allowed.</p>
                    {% endif %}
                    <div class="mt-4">
                        <a href="{% url 'owner_page' %}" class="btn btn-outline-dark">Cancel</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h2 class="text-dark text-center border-bottom">Suites</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Suite Name</th>
                        <th>Availability</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for suite in suites %}
                        <tr>
                            <td>{{ suite.name }}</td>
                            <td>{{ suite.availability }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}