{% extends "base.html" %}
{% load static %}

{% block content %}
    <header class="bg-current-teal py-5">
        <div class="container px-0 px-lg-0 my-0">
            <div class="text-center text-white">
                <img class="img-fluid" src="{% static '/matches/matchesbanner.2.png' %}" alt="...">
            </div>
        </div>
    </header>

        <div class="row mt-5">
            <div class="col">
                <h2 class="text-dark text-center border-bottom">Suites</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Suite Name</th>
                        <th>Reservations</th>
                        <th>Cancellations</th>
                        <th>Revenue</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for suite in suites %}
                        <tr>
                            <td>{{ suite.name }}</td>
                            <td>{{ suite.reservations }}</td>
                            <td>{{ suite.cancellations }}</td>
                            <td>{{ suite.suite_revenue }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No suites available for this match.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}