

.suite {
  border:5px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 20px auto;
  width: 80%;
  display: flex;
   justify-content: center;
  flex-wrap: wrap;
  
}

.suite h4 {
  margin: 0 0 10px 0;
}

.suite p {
  margin: 5px 0;
  color: white;
}
.suite-container {
  scroll-margin-top: 5rem;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 15px auto;
  padding-right: calc(var(--bs-gutter-x) * 2.5);
  padding-left: calc(var(--bs-gutter-x) * 2.5);

  /* width: 80%; */
  border:5px solid #ddd;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.suites-class {
  border: 1px solid red; /* Default border color */
  /* Other styles */
}
.suites-container {
  
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 15px auto;
  padding-right: calc(var(--bs-gutter-x) * 2.5);
  padding-left: calc(var(--bs-gutter-x) * 2.5);

  /* width: 80%; */
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}



/* Add this to your stylesheet */
.high-card {
  height: 200px; 
}

#suiteAvailabilityContainer {
  display: flex;
  flex-direction: column;
  max-height: 400px; 
  overflow-y: auto;
}
  /* Add custom styles here */
  .rounded-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FFFFFF ;
    color: #091F2C;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    
}
  .rounded-button {
    display: inline-block;
    padding: 10px ;
    border-radius: 10px;
    background-color: #FFFFFF ;
    color: #091F2C;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-right: 5px; 
    margin-left: 5px;

    
}
.rounded-button-sticky {
  
  display: inline-block;
  padding: 15px ;
  border-radius: 10px;
  background-color: #091F2C  ;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-right: 5px; 
  margin-left: 5px;
  border: 2px solid #FFFFFF;
  font-size: large;
  
}
.rounded-button-sticky:hover {
  background-color: #64CCC9;   
}


.rounded-button:hover {
    background-color: #64CCC9; 

    
}
.rounded-button-red {
  display: inline-block;
  padding: 10px ;
  border-radius: 20px;
  background-color: #FFFFFF ;
  color: #091F2C;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  
}
.rounded-button-red:hover {
  background-color:#CB333B  ; 

  
}
 /* Add custom styles here */
 @keyframes slideIn {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}

.slide-in-image {
  animation: slideIn 1s forwards;
}

.matchescard {
  position: relative;
  overflow: hidden; /* Ensure that the image doesn't overflow the card */
  background-size: cover;
  background-position: center;
  height: 400px; 
  
  


}

.matchescard-img-top {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resize the image to cover the entire card */
}


.matchcard-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
}

.error-message {
  color:  #64CCC9 !important;
  font-size: larger;
  padding: 50px;

  background-color:  #091F2C ;
  border: 5px solid #64CCC9 ; 
  border-radius: 5px;
  display: block;
}

.centered-error-message {
  position: fixed; /* Use fixed positioning */
  top: 50%; /* Position the top edge of the element at the middle of the page */
  left: 50%; /* Position the left edge of the element at the center of the page */
  transform: translate(-50%, -50%); /* Offset the element by half its width and height to center it */
  background-color: #091F2C; /* Light red background */
 /* Red text color */
  padding: 20px; /* Add some padding */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  z-index: 1000; /* Ensure the message is above other content */
}

.matches-bg-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}



#matchespage {
  padding-bottom: 0rem !important;
  
}

.form-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-holder .form-content{
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.form-content .form-items {
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  max-width: 700px !important;
  border-radius: 10px;
  text-align: left;
}

.form-content h3{
  color: #fff;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 15px;
}

.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 5px;
}

.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 8px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 8px;
}

.form-content textarea:hover, .form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}



.valid-feedback{
  color: #2acc80;
}
.highlighted-suite {
  border:5px solid #64CCC9 ;/* Change this to your desired highlight color */
}
@media (max-width: 768px) {
  .suite-container {
      padding: 10px;
  }
}

.dropdown-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%;
    background-size: 0.65em auto;
    padding-right: 1.5em;
}

